<div class="row">
  <div class="col-12">
    <div class="card p-2">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
						<button class="btn btn-round btn-outline-success my-2"
										(click)="open(sendTemplate)">
              Send
              <span class="ft-arrow-up"></span>
            </button>
            <button class="btn btn-round btn-outline-primary my-2">
              Request
              <span class="ft-arrow-down"></span>
            </button>
          </div>
          <div class="col-3">
            <div class="media mb-1">
              <div class="media-body text-right">
                <h4 class="font-medium-1 my-1 text-center">
									Balance
								</h4>
                <select class="form-control">
                  <option *ngFor="let balance of balances" [value]="balance.label">
										 {{ balance.label }} - {{ balance.value | currency: 'USD': true }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" matchHeight="card">
  <div class="col-xl-6 col-lg-12 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Your Balances</h4>
      </div>
      <div class="card-body">
        <div id="donut-dashboard-chart" class="height-250 donut">
          <x-chartist class="" [data]="DonutChart.data" [type]="DonutChart.type" [options]="DonutChart.options" [responsiveOptions]="DonutChart.responsiveOptions"
            [events]="DonutChart.events">
          </x-chartist>
        </div>

        <div class="card-block">
          <div class="row mb-3">
            <div class="col">
              <span class="mb-1 text-muted d-block">5 BTC - Bitcoin</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <span class="mb-1 text-muted d-block">10 ETH - Ethereum</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-deep-purple bg-lighten-1" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col">
              <span class="mb-1 text-muted d-block">15 BCH - Bitcoin Cash</span>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-blue" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-12 col-12">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="card-block">
          <h4 class="card-title white">Price Charts</h4>
          <div class="p-2 text-center">
            <a class="btn btn-raised btn-round white font-medium-1">Month</a>
            <a class="btn btn-raised btn-round bg-white font-medium-1">Week</a>
            <a class="btn btn-raised btn-round white font-medium-1">Day</a>
          </div>
          <div class="my-3 text-center white">
            <a class="font-large-2 d-block mb-1">${{bitcoinPrice}}</a>
            <span class="font-medium-1">1 BTC</span>
          </div>
        </div>
        <div id="lineChart" class="height-250 lineChart lineChartShadow">
          <x-chartist class="" [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options" [responsiveOptions]="lineChart.responsiveOptions"
            [events]="lineChart.events">
          </x-chartist>
        </div>
        <div class="p-2 text-center">
          <a class="btn btn-raised btn-round bg-white font-small-1">BTC = $16,669.44</a>
          <a class="btn btn-raised btn-round font-small-1">ETH = $1,073.48</a>
          <a class="btn btn-raised btn-round font-small-1">BCH = $2,689.67</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" matchHeight="card">
  <div class="col-xl-6 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Recent Activity</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="media mb-1">
            <div class="media-body">
              <h4 class="font-medium-1 mt-1 mb-0">Received 1 BTC from CryptoArray</h4>
              <p class="text-muted font-small-3">Just now</p>
            </div>
          </div>
          <div class="media mb-1">
            <div class="media-body">
              <h4 class="font-medium-1 mt-1 mb-0">Transferred 1 ETH to Jim</h4>
              <p class="text-muted font-small-3">3 days ago</p>
            </div>
          </div>
          <div class="media mb-1">
            <div class="media-body">
              <h4 class="font-medium-1 mt-1 mb-0">Received 1 BCH from Jim</h4>
              <p class="text-muted font-small-3">A week ago</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sendTemplate let-c="close">
	<div class="modal-header">
		<h4 class="modal-title">
			<span class="ft-arrow-up"></span>
			Send Bitcoin
		</h4>
		<button type="button" class="close text-danger" aria-label="Close"
						(click)="c()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form class="form">
			<div class="form-body">
				<div class="row">
					<div class="col-6">
						<fieldset class="form-group">
							<label for="CURRENCY">Currency:</label>
							<select class="form-control" id="CURRENCY">
								<option value="BTC">Bitcoin</option>
								<option value="ETH">Ethereum</option>
								<option value="BCH">Bitcoin Cash</option>
							</select>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<fieldset class="form-group">
							<label for="recipient">To:</label>
							<input type="text" class="form-control" id="recipient" placeholder="Paste the address">
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<fieldset class="form-group">
							<label for="bitcoin-price">BTC</label>
							<input type="text" class="form-control" id="bitcoin-price">
						</fieldset>
					</div>
				</div>
			</div>
		</form>
	</div>
</ng-template>