<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-5">
                        <div class="align-self-start halfway-fab pl-3 pt-2">
                            <div class="text-left">
                                <h3 class="card-title white">{{fname}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img src="assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 text-center">
                            <span class="font-medium-2 text-uppercase">{{fname}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about" *ngIf="currentPage === 'About'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Profile</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                                        <span class="display-block overflow-hidden">{{birthdate}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                                        <span class="display-block overflow-hidden">{{inputEmail}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Street Address:</a></span>
                                        <span class="display-block overflow-hidden">{{streetAddress}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Zip</a></span>
                                        <span class="display-block overflow-hidden">{{zipCode}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                                        <span class="display-block overflow-hidden">{{gender}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="fa fa-shopping-bag font-small-3"></i> Package Plan:</a></span>
                                        <a class="display-block overflow-hidden">{{packagePlan}}</a>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> City:</a></span>
                                        <span class="display-block overflow-hidden">{{city}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                                        <span class="display-block overflow-hidden">{{phoneNumber}}</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="fa fa-handshake-o font-small-3"></i> Joined:</a></span>
                                        <span class="display-block overflow-hidden">{{dateJoined}}</span>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> State:</a></span>
                                        <span class="display-block overflow-hidden">{{state}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About section ends-->
<!--User Profile Ends-->